{% extends 'base.html' %}
{% load markup %}

{% block title %} Blog {% endblock %}
{% block description %}{% endblock %}

{% block header %}
Blog Posts
{% endblock %}

{% block content %}
<ul class="unstyled text-center">
{% for post in post_list %}
	<li>
	{% if post.published %}
		<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
		{% if post.image %}
		<img src="{{ post.image }}" class="img-rounded">
		{% else %}
		<p>{{ post.content|markdown:"safe"|slice:"300" }}</p>
		{% endif %}
	{% endif %}
	</li>
	<div style="height: 50px;"></div>
	{% empty %}
	Sorry, There is nothing to list here. 
{% endfor %}
</ul>
{% endblock %}
