{% extends 'base.html' %}
{% load comments %}
{% load markup %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}

{% block header %}{{ post.title }}{% endblock %}

{% block content %}
<p>{{ post.content|markdown:"safe" }}</p>
<hr>
<h3 class="muted">{{ post.updated_at }}</h3>
  <div class="row-fluid">
    <div class="span12">
    {% if post.enable_comments %}
    <h3>Comments </h3>
    {% render_comment_list for post %}
    </div>
    {% get_comment_form for object as form %}
    <h3>Add comment <small>(with markdown support)</small></h3>
  <div class="span5">
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <br>
    <input type="hidden" name="next" value="{{ post.get_absolute_url }}" />
    <button type="submit" class="btn btn-primary"><i class="icon-white icon-comment"></i> Submit</button>
    <button type="submit" class="btn btn-primary"><i class="icon-white icon-cog"></i> Preview</button>
  </form>
  </div>
  {% endif %}
</div>
{% endblock %}
