{% extends 'base.html' %}
{% load comments %}
{% load markup %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.content|slice:"100" }}{% endblock %}

{% block header %}{{ post.title }}{% endblock %}

{% block content %}
<p>{{ post.content|markdown:"safe" }}</p>
<div style="height: 20px"></div>
<h2><small>{{ post.created_at }}</small></h2>
<hr>
<div class="row-fluid">
  <div class="span12">
{% get_comment_count for post as comment_count %}
{% render_comment_list for post %}
  </div>
{% get_comment_form for object as form %}
<div class="span5">
<h3>This post has {{ comment_count }} comments.</h3>
<form action="{% comment_form_target %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="hidden" name="next" value="{{ movie.get_absolute_url }}" />
  <button type="submit" class="btn btn-primary"><i class="icon-comment"></i> Submit</button>
</form>
</div>
{% endblock %}
