{% extends "base.html" %}
{% load markup %}

{% block title %} About me {% endblock title%}
{% block description %}
all of this base belongs to
Mohammad Adil.
things you will find here -
few projects, blog posts, and rants
{% endblock %}

{% block content %}
<ul class="unstyled">
  {% for bio in biodata_list %}
  <li>
  {% if bio.published %}
    <h2>{{ bio.heading }}</h2>
    <li> {{ bio.content|markdown:"safe" }} </li>
  {% endif %}
  </li>
  {% empty %}
  <p class="text-center">
  Sorry, There is nothing here now. Check back later.
  </p>
  {% endfor %}
</ul>
{% endblock %}
