{% extends "base.html" %}
{% load markup %}

{% block title %} Projects {% endblock title%}

{% block description %}
all of this base belongs to 
Mohammad Adil.
things you will find here -
few projects, blog posts, and rants
{% endblock %}

{% block content %}
<ul class="unstyled">
  {% for project in project_list %}
  <li>
  {% if project.published %}
    <h1>{{ project.heading }}</h1>
    <li> {{ project.content|markdown:"safe" }} </li>
  {% endif %}
  </li>
  {% empty %}
  <p class="text-center">
  Sorry, There is nothing here now. Check back later.
  </p>
  {% endfor %}
</ul>
{% endblock %}
