/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.icon-grid {
  font-family: Exo;
  list-style:none;
  padding: 0;
  margin:auto;
}

.icon-grid:before,
.icon-grid:after {
  content: " ";
  display:table;
}

.icon-grid:after {
  clear:both;
}

.icon-grid li {
  width: 100%;
}

.icon-grid li > a {
  display: block;
  height: 100%;
  padding-top:30px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

.icon-grid-icon {
  padding: 30px 0 0 0;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.icon-grid-icon:before {
  font-family:Exo;
  font-size:14em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialised;
}

.title {
  margin: 20px 0 0 0;
  padding: 20px 0 20px 0;
  font-size: 2em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.title:before {
  content: '';
  position: absolute;
  background: #47a3da;
  width: 160px;
  height: 6px;
  top: 0px;
  left: 50%;
  margin: 10px 0 0 -80px;
  -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

.icon-grid li > a:hover {
  background: #47a3da;
  text-decoration:none;
}


.icon-grid li > a:hover,
.icon-grid li > a:hover {
  color: #fff;
}

.icon-grid li > a:hover .title {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.icon-grid li > a:hover .title:before {
  background: #fff;
  margin-top: 80px;
}

.scroller {
  margin-top: 50px;
  overflow: hidden;
}

.section {
  margin-bottom:15em;
  position:relative;
}

.section:before,
.section:after {
  content: " ";
  display: table;
}

.section:after {
  clear:both;
}

.section h2 {
  font-size: 5em;
  font-weight: 300;
  line-height: 1;
}

.section h3 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1;
}

.section p {
  font-size: 2em;
  font-weight: 300;
}

.scroll-side {
  width: 50%;
  float: left;
  margin: 0;
  padding: 3em 4%;
  overflow: hidden;
  min-height: 25em;
}

.scroll-side:before,
.scroll-side:after {
  content: " ";
  display: table;
}

.scroll-side:after {
  clear:both;
}

.right-side {
  text-align: left;
}

.left-side {
  text-align: right;
}

.scroll-side-init .scroll-side {
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.scroll-side-init .left-side {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateXnslateX(-80px);
  transform: translateX(-80px);
}

.scroll-side-init .right-side {
  -webkit-transform: translateX(80px);
  -moz-transform: translateXnslateX(80px);
  transform: translateX(80px);
}

.section.section-animate .left-side,
.section.section-animate .right-side {
  -webkit-transitionon: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transformorm 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  -weightbkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transformnsform: translateX(0px);
  opacity: 1;
}

.section.section-animate .right-side {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

@media (min-width: 770px) {
  .navigation {
      border-right: 1px solid #ddd;
  }
  .scroller {
    font-size: 65%;
  }
  .section h2 {
    margin: 0;
  }
}

@media (max-width: 770px) {

.navigation li{
  border-bottom: 1px solid #ddd;
  }
  .scroll-side {
    width: 90%;
  }
  .scroller {
    margin: 0;
    font-size: 55%;
  }
}

