{% extends 'base.html' %}
{% block headline %}Search{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span5">
    <form method="get" action=".">
            {{ form.as_table }}
            <button class="btn btn-success" type="submit" value="Search">Search</button>
    </form>
  </div>
  <div class="span7">
        {% if query %}
            <h3>Results</h3>
            {% for result in page.object_list %}
                <p>
                <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>
                    <p>{{ result.object.description }}</p>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </div>
  </div>
{% endblock %}
