{% extends 'base.html' %}

{% block title %}Home {% endblock %}

{% block content %}
<div id="scroller" class="scroller">
  <section class="section">
    <article class="scroll-side left-side">
      <h2>Quotes</h2>
      <p>{{ quotation }} - {{ author }}</p>
    </article>
  </section>

  <section class="section">
    <article class="scroll-side left-side">
      <h2>Recent Posts</h2>
      <ul class="unstyled">
      {% for post in recent_posts %}
      <li>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
      </li>
      {% endfor %}
      </ul>
    </article>
  </section>

  <section class="section">
    <article class="scroll-side left-side">
      <h2>Good Reads</h2>
    </article>
  </section>
</div>
{% endblock content %}
