{% extends 'base.html' %}

{% block title %}Home {% endblock %}
{% block description %}
all of this base belongs to
Mohammad Adil. 
things you will find here -
few projects, blog posts, and rants
{% endblock %}

{% block header %}
<div class="featurette">
	<img class=" img-circle featurette-image pull-left" src="http://en.gravatar.com/userimage/26126553/d957213dfdd73edb13d3ea98142fe929.jpg?size=220">
	<h2 class="featurette-heading">
		<span class="muted">all of this base belongs to </span> Mohammad Adil
	</h2>
	<h2 class="featurette-heading">
		<span class="muted">things you will find here </span> 
		<p>few projects, blog posts, and rants</p>
	</h2>
</div>
{% endblock header %}

{% block content %}
<div class="span10 offset1 clearfix quote" style="padding-bottom:50px;">
  <blockquote>
    <h3 class="text-info">{{ quotation }}</h3>
    <small class="pull-right">{{ author }}</small>
  </blockquote>
</div>
<div>
  <h1 class="featurette-heading">Recent Posts</h1>
{% if post_count > 5 %}
    <h2 class="muted">Showing 5 posts out of {{ post_count }}.<span class="pull-right"><a href="/blog/">View all</a></span></h2>
{% else %}
    <h2 class="muted">Showing {{ post_count }} posts.</h2>
{% endif %}
  <div style="height: 20px;"></div>
  <ul class="unstyled">
  {% for post in recent_posts %}
  {% if post.published %}
  <li>
    <h1><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h1>
    <p>{{ post.description }}</p>
    <div style="height: 20px;"></div>
  </li>
  {% endif %}
  {% empty %}
  <p class="text-center">
  Sorry, There is nothing to list here now.
  </p>
{% endfor %}
</ul>
</div>
<div>
<h1 class="featurette-heading">Good Reads</h1>
{% if bookmark_count > 5 %}
    <h2 class="muted">Showing 5 links out of {{ bookmark_count }}.<span class="pull-right"><a href="#">View all</a></span></h2>
{% else %}
    <h2 class="muted">Showing {{ bookmark_count }} links.</h2>
{% endif %}
  <div style="height: 20px;"></div>
  <ul class="unstyled">
{% for bookmark in bookmarks %}
{% if bookmark.show %}
  <li>
    <h1><a href="{{ bookmark.link }}" target="_blank">{{ bookmark.title }}</a></h1>
    <p class="muted">{{ bookmark.updated_at }}</p>
    <p>{{ bookmark.description }}</p>
    <div style="height: 20px;"></div>
  </li>
{% endif %}
{% empty %}
  <p class="text-center">
  Sorry, There is nothing to list here now.
  </p>
{% endfor %}
</ul>
</div>
{% endblock content %}
