{% extends "base.html" %}
{% load comments %}
{% load i18n %}

{% block title %}Preview your comment{% endblock %}

{% block header %}Preview your comment{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span5">
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% if form.errors %}
    <h3>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h3>
    {% else %}
      <h4>Your comment looks like this</h4>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      <input class="btn btn-success" type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" />
      <p>or make changes :</p>
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        <div>{{ field }}</div>
      {% else %}
      {% if field.errors %}<p style="color:red">{{ field.errors }}</p>{% endif %}
        <div
          {% if field.errors %} class="alert alert-error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field.label_tag }} {{ field }}
        </div>
      {% endif %}
    {% endfor %}
    <p class="submit">
      <button type="submit" class="btn btn-primary"><i class="icon-white icon-comment"></i> Submit</button>
      <button type="submit" class="btn btn-primary"><i class="icon-white icon-cog"></i> Preview</button>
    </p>
  </form>
  </div>
</div>
{% endblock %}
